[submodule "mc_plugin_base/mc_drivers_common"]
	path = mc_plugin_base/mc_drivers_common
	url = ../mc_drivers_common.git
[submodule "moducard_generators"]
	path = moducard_generators
	url = ../moducard_generators.git
